In [31]:
import pandas as pd
import numpy as np

# Aula 04 - Slide 05 - Distribuição de Frequências

In [32]:
classes = np.array(
    [
        (0, 10),
        (10, 20),
        (20, 30),
        (30, 40),
        (40, 50),
        (50, 60),
        (60, 70),
    ]
)

In [33]:
frequencia  = np.array(
    [6, 10, 13, 8, 5, 6, 2]
)

In [34]:
frequencia_relativa = np.array(
    [round(i/sum(frequencia)*100, 2) for i in frequencia]
)

In [35]:
classe_ponto_medio = np.array(
    [(x+y)/2 for x, y in classes]
)

In [42]:
frequencia_acumulada = []

for i in range(0, len(frequencia)):
    frequencia_acumulada.append(sum(frequencia[0: i+1]))

* Criando a tabela de frequências com classes, frequências, frequências relativas, media da classes e frequências acumuladas

In [46]:
custo_sinistros = pd.DataFrame(
    {
        'Custo Sinistros (em R$1.000,00)': [f'{x} |- {y}' for x, y in classes],
        'Fi': frequencia,
        'fi%': frequencia_relativa,
        'Xi': classe_ponto_medio,
        'Fac': frequencia_acumulada
    }
)

custo_sinistros

  Custo Sinistros (em R$1.000,00)  Fi   fi%    Xi  Fac
0                         0 |- 10   6  12.0   5.0    6
1                        10 |- 20  10  20.0  15.0   16
2                        20 |- 30  13  26.0  25.0   29
3                        30 |- 40   8  16.0  35.0   37
4                        40 |- 50   5  10.0  45.0   42
5                        50 |- 60   6  12.0  55.0   48
6                        60 |- 70   2   4.0  65.0   50